<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quanlythuchicanhan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quản Lý Thu Chi Cá Nhân"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.UserActivity"></activity>
        <activity android:name=".Activity.UpdateChiActivity" />
        <activity android:name=".Activity.UpdateActivity" />
        <activity android:name=".Activity.ThongKeChiActivity" />
        <activity android:name=".Activity.ThongKeActivity" />
        <activity android:name=".Activity.ThemChiActivity" />
        <activity android:name=".Activity.ThemThuActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="Quản Lý Thu Chi Cá Nhân"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>